
/*--------------------------------HEADER ------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    max-width: 1280px;
    height: 103px;
    background: linear-gradient(180deg, #00D1D5 0%, rgba(0, 209, 213, 0.12) 88%, rgba(1, 208, 213, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    z-index: 1000;
}

.icon-container, .logo-container, .button-comprar-container {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    transition: margin 0.3s ease;
}

.icon {
    width: 50px;
    height: auto;
    transition: width 0.3s ease;
}

.logo {
    width: 150px;
    height: auto;
    transition: width 0.3s ease;
}

.buy-button {
    width: 200px;
    height: 50px;
    background: #83C252;
    box-shadow: 4px 5px 0px #02187E;
    border-radius: 111px;
    border: 8px white solid;
    color: white;
    font-size: 20px;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 900;
    line-height: 18.90px;
    transition: all 0.3s ease;
}

.buy-button:hover {
    background-color: #5CA23A;
}


.header.scrolled {
    height: 70px; /* Reduce la altura del header */
    padding: 0 15px;
    background: #00A0A0; /* Cambia el fondo a un color plano */
}

.header.scrolled .icon-container,
.header.scrolled .logo-container,
.header.scrolled .button-comprar-container {
    margin-left: 20px;
    margin-right: 20px;
}

.header.scrolled .icon {
    width: 40px; /* Reduce el tamaño del icono */
}

.header.scrolled .logo {
    width: 90px; /* Reduce el tamaño del logo un poco más que otros elementos */
}

.header.scrolled .buy-button {
    width: 160px; /* Reduce el ancho del botón */
    height: 40px; /* Reduce la altura del botón */
    font-size: 16px; /* Reduce el tamaño de la fuente */
    border-width: 6px; /* Reduce el grosor del borde */
}
/*-------------------------------- FIN DEL HEADER ------------------------------------*/

/* ====================================================================== */
/*                             SECTION 1 HERO                                  
/* ====================================================================== */

/* EFECTO PARALLAX SECCION 1*/
  .layer {
    position: absolute;
    transition: transform 0.3s ease-out; /* Para la animación de entrada */
    opacity: 0; /* Para la animación de entrada */
  }
  
  .layer.show {
    opacity: 1;
    transition: opacity 1s ease-in; /* Ajuste gradual */
  }
/* FIN EFECTO PARALLAX SECCION 1*/

#section-hero {
    height: 959px;
    width: 1280px;
    background-image: url('../imagenes/ff.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#section-hero #arbol-1 {
    height: 867.75px;
    position: absolute;
    top: 0;
    /*left: -153px;*/
    z-index: 30;
}

#section-hero #arbol-2 {
    height: 672.52px;
    position: absolute;
    top: 106.71px;
    left: 881.03px;
    z-index: 50;
}

#section-hero #arbol-3 {
    height: 430.85px;
    position: absolute;
    top: 278.38px;
    left: 1080.97px;
    z-index: 40;
}

#section-hero #bush-1 {
    height: 102.33px;
    position: absolute;
    top: 821.65px;
    left: 197.06px;
    z-index: 40;
}

#section-hero #bush-2 {
    height: 114.44px;
    position: absolute;
    top: 717.97px;
    left: 161.38px;
    z-index: 10;
}

#section-hero #bush-3 {
    height: 107.71px;
    position: absolute;
    top: 662.1px;
    left: 1080.97px;
    z-index: 40;
}

#section-hero #bush-4 {
    height: 63.28px;
    position: absolute;
    top: 630.46px;
    left: 1028.46px;
    z-index: 10;
}

#section-hero #rock-1 {
    height: 78.09px;
    position: absolute;
    top: 793.37px;
    left: 129.07px;
    z-index: 30;
}

#section-hero #rock-2 {
    height: 56.55px;
    position: absolute;
    top: 737.5px;
    left: 1035.19px;
    z-index: 50;
}

#section-hero #rock-3 {
    height: 74.05px;
    position: absolute;
    top: 737.5px;
    left: 1072.22px;
    z-index: 60;
}

#section-hero #rock-4 {
    height: 35.01px;
    position: absolute;
    top: 786.64px;
    left: 1042.6px;
    z-index: 70;
}

#section-hero #character-1 {
    height: 314.48px;
    position: absolute;
    top: 512.62px;
    left: 428.06px;
    /* transform: rotate(-6.51deg); */
    z-index: 60;
}

#section-hero #character-2 {
    height: 270px;
    position: absolute;
    top: 413.59px;
    left: 551.11px;
    /* transform: rotate(-6.72deg); */
    z-index: 50;
}

#section-hero #character-3 {
    height: 384px;
    position: absolute;
    top: 348.98px;
    left: 722.12px;
    /* transform: rotate(8.73deg); */
    z-index: 40;
}

#section-hero #shadow-character-1 {
    height: 33px;
    width: 140px;
    position: absolute;
    top: 762px;
    left: 494px;
    z-index: 30;
}

#section-hero #shadow-character-2 {
    height: 33px;
    width: 140px;
    position: absolute;
    top: 727px;
    left: 608px;
    z-index: 30;
}

#section-hero #shadow-character-3 {
    height: 33px;
    width: 140px;
    position: absolute;
    top: 697px;
    left: 724px;
    z-index: 30;
}

/* ====================================================================== */
/*                 FIN            SECTION 1 HERO                                  
/* ====================================================================== */


/* ------------- -----------------SECCION 2 ------------------------------------------*/
.app-container{
    width: 1280px;
    height: 894px;
    background-image: url("../imagenes/Rectangle\ 8.png");
    display: flex;
    flex-direction: row;
}


.app-ninos3 h1{
    width: 508px;
    height: 132px;
    line-height: 0.9;
    padding-top: 60px;  
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    font-size: 47px;
    color: #1B428F;
}

.app-ninos3 p {
    padding-top: 70px;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    width: 704px;
    height: 154px;
    color: #1B428F;
}

.app-derecha{
    padding-left: 80px;
}
.img-izq{
    width: 572px;
    height: 1259px;   
    padding-bottom: 60px;
}

.carrusel-app {
  width: 576px;
  height: 324px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border: 30px solid ,#1B5F99;
  border-radius: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 150px;
}

/* Estilos para las imágenes del carrusel */
.carrusel-app img {
  width: 100%;
  height: auto;
  display: block;
}

/* Contenedor de las imágenes */
.carrusel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.app-container2{
  width: 1280px;
  height: 1250px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container-texto{
  width: 340px;
  height: 600px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.container-texto p {
  height: 218px;
  width: 333px;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  color: black;
  padding-top: 0;
}


 .character-5 {
  position: absolute;
  height: 1259px;
  top: 950px;
  left: 787px;
}

 .character-4 {
  position: absolute;
  height: 603px;
  width: 601px;
  top: 1558px;
  left: 50px;
}

/* ------------------------------- FIN SECCION 2 -------------------------------------*/

/*-------------------------------- SECCION 3 -----------------------------------------*/
.numberblocks-section {
    width: 1280px;
    height: 1192px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease-out; /* Añade una transición suave */
}

/* Fondo morado */
.background {
    position: absolute;
    width: 1280px;
    height: 1157px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple-background {
    width: 1250px;
    height: 1157px;
    background-color: #5829BF;
    border-right: 8px solid white;
}

.purple-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 40px; 
    background-color: #fff; 
    border-bottom-left-radius: 50% 80px;
    border-bottom-right-radius: 50% 80px;
}

/* Contenedor del título */
.title-container {
    width: 950px;
    height: 153px;
    position: absolute;
    top: 177px;
    text-align: center;
}

.title-container h1 {
    color: white;
    font-size: 61.14px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    line-height: 67.25px;
    margin: 0;
}

.italic-text {
    font-style: italic;
    font-weight: 700;
}

/* Contenedor del botón */
.button-container {
    position: absolute;
    top: 392px;
    left: 393px;
}

.download-button {
    width: 540px;
    height: 66px;
    font-size: 31.14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #83C252;
    border-radius: 111px;
    border: 8px solid white;
    box-shadow: 4px 5px 0px #02187E;
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #76B344;
}

/* Imagen principal */
.main-image {
    width: 1280px;
    height: 767px;
    position: absolute;
    top: 425px;
    left: 23px;
}
/*-------------------------------- FIN DE SECCION 3 -----------------------------------------*/


/*---------------------------------SECCION 4-------------------------------------------------*/
/* CONTENEDOR DIVERSION*/
.container-mas-diversion {
    display: flex;
    align-items: flex-start;
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor */
   
  }
  .left-column {
    position: sticky;
    top: 20px;
    width: 40%; /* Ajusta el ancho de la columna de la imagen */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right-column {
    width: 60%; /* Ajusta el ancho de la columna de texto */
    padding-left: 20px;
    margin-top: 300px; /* Ajusta este valor según sea necesario */
  }
  .changing-image {
    max-width: 60%; /* Asegura que la imagen no exceda el ancho de la columna */
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: scale(1.05);
  }
  .changing-image.visible {
    opacity: 1;
    transform: scale(1);
  }
  .text-block {
    margin-bottom: 200px; /* Espacio entre bloques de texto */
  }
/*-----------------------------------FIN SECCION 4 ------------------------------------------*/


/*-------------------------------- SECCION 5 ------------------------------------------------*/
.container-numberblock-corona {
    width: 1280px;
    height: 1443.83px;
    position: relative;
}

.rectangulo-numberblock-corona {
    width: 1260px;
    height: 1400px;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url("../imagenes/rectangulo25.png")
}

.grupo-numberblock-corona {
    width: 804px;
    height: 452px;
    position: absolute;
    left: 50px;
    top: 525.83px;
}

.imagen-numberblock-corona {
    width: 804px;
    height: 452px;
    position: absolute;
   
}

.numberblocks-numero3-con-corona1 {
    width: 608px;
    height: 989px;
    position: absolute;
    left: 653px;
    top: 360.83px;
}

.texto-numberblock-corona {
    width: 802px;
    position: absolute;
    left: 50px;
    top: 308.83px;
    color: white;
    font-size: 60px;
    font-weight: 600;
    line-height: 56.70px;
    word-wrap: break-word;
}

.video {
    border: 20px , solid, white ;
    border-radius: 45px;
}
/*-------------------------------- FIN SECCION 5 ------------------------------------------------*/


/*----------------------------------SECCION 6---------------------------------*/

#section-3d {
    position: relative;
    width: 1280px;
    height: 1030px;
}

#section-3d .container {
    position: absolute;
    top: 214px;
    left: 102px;
}

#section-3d .container #title-3d {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 60px;
    color: #9D2121; /* Rojo */
    width: 746px;
  }

#section-3d .container #description-3d {
    margin-top: 48px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    width: 467px;
}

#section-3d #character-3d-placeholder {
    position: absolute;
    width: 667px;
    height: 973px;
    left: 599px;
}
/*-----------------------------------FIN SECCION 6------------------------------*/


/* ---------------------------------- SECCION 7 --------------------------------*/

.section-7 {
    width: 1280px;
    height: 684px;
    position: relative;
    background: linear-gradient(to right, red, purple, orange, pink, green, gray, darkblue, white);

}

.section-7 .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 30;
    backdrop-filter: blur(4px);
}

.section-7 .container .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-7 .container .flex {
    width: 252px;
    height: 373px;
}

.flex{
  gap: 30px;
}

.grid-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}
/*------------------------------------------ FIN SECCION 7-----------------------------*/

/* ====================================================================== */
/*                                SECTION 8                                   
/* ====================================================================== */

#section-8 {
    position: relative;
    height: 1570px;
}

#section-8 .container {
    position: absolute;
    top: 190px;
    left: 100px;
    display: flex;
    flex-direction: column;
    z-index: 30;
}

#section-8 .container #title {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 94.5%;
    font-size: 60px;
    width: 816px;
    margin-bottom: 48px;
}

#section-8 .container .subscribe {
    height: 100px;
    width: 780px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    border: 9px solid #FFFFFF;
    border-radius: 50px;
    box-shadow: 4px 5px #02187E;
    overflow: hidden;
}

#section-8 .container .subscribe input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    padding-left: 45px;
    padding-right: 45px;
}

#section-8 .container .subscribe button {
    border: none;
    background: transparent;
    outline: none;
    width: 218px;
    background-color: #83C252;
    border-left: 9px solid #FFFFFF;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    cursor: pointer;
}

#section-8 .container #terms-of-service {
    margin-top: 48px;
    margin-bottom: 25px;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    width: 578px;
}

#section-8 .container #terms-of-service a {

    color: #000000;
}

#section-8 .container #teen-advisory {
    height: 145px;
    width: 231px;
}

#section-8 #background-gradient {
    position: absolute;
    height: 1296px;
    top: 273px;
}

#section-8 #background-grass {
    position: absolute;
    height: 389px;
    top: 1181px;
}

#section-8 #cloud-1 {
    position: absolute;
    height: 181x;
    top: 819px;
    left: -56px;
    opacity: 50%;
}

#section-8 #cloud-2 {
    position: absolute;
    height: 181px;
    top: 560px;
    left: 962px;
    opacity: 50%;
}

#section-8 #cloud-3 {
    position: absolute;
    height: 124px;
    top: 517px;
    left: 794px;
    opacity: 50%;
}

#section-8 #character-1 {
    position: absolute;
    height: 480px;
    top: 1048px;
    left: 65px;
}

#section-8 #character-2 {
    position: absolute;
    height: 509px;
    top: 1019px;
    left: 407px;
}

#section-8 #character-3 {
    position: absolute;
    height: 997px;
    top: 613px;
    left: 756px;
}

/* ====================================================================== */
/*                 FIN               SECTION 8                                   
/* ====================================================================== */

/* ====================================================================== */
/*                                FOOTER                                  
/* ====================================================================== */

/* SPRITESHEET */

/* Estilo general para el contenedor /imagenes/spinning-coin.png */
.coin {
    width: 100px; /* Ajusta al ancho de un frame individual de la moneda */
    height: 100px; /* Ajusta al alto de un frame individual de la moneda */
    background-image: url('/imagenes/spinning-coin.png'); /* Ruta a tu spritesheet */
    background-repeat: no-repeat;
    background-size: 600%; /* Escala el fondo para mostrar solo un frame a la vez (si tienes 6 frames) */
    animation: spinCoin 1s steps(6) infinite;
}

@keyframes spinCoin {
    from {
        background-position: 0px; /* Empieza en el primer frame */
    }
    to {
        background-position: -600px; /* Ajusta este valor dependiendo del ancho total de la imagen */
    }
}

.number-sprite {
    width: 50px; /* Ancho de un solo número */
    height: 50px; /* Alto de un solo número */
    background-image: url('/imagenes/numbers-spritesheet.png'); /* Ruta a tu imagen */
    background-repeat: no-repeat;
    background-size: 150px auto; /* Ajuste del tamaño total (3 frames de 50px cada uno) */
    animation: cycleNumbers 1s steps(3) infinite; /* 3 frames en el spritesheet */
    animation-fill-mode: forwards;
}

@keyframes cycleNumbers {
    from {
        background-position: 0px;
    }
    to {
        background-position: -150px; /* Desplaza hasta el último número */
    }
}

/* FIN SPRITESHET */

footer {
    position: relative;
    width: 1280px;
    height: 515px;
    background-color: #5E5E5D;
}

footer .platforms {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    height: 80px;
}

footer .container {
    margin-top: 35px;
    margin-left: 100px;
}

footer .container #copyright {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    color: #FFFFFF;
    width: 820px;
    letter-spacing: 11%;
}

footer .container #copyright a {
    color: #FFFFFF;
}

footer .container #social {
    margin-top: 30px;
}

/* ====================================================================== */
/*                     FIN           FOOTER                                  
/* ====================================================================== */


